<form id="form1" method="post">
    <legend><img src="icons/icon32.png" alt="" width="25" height="25"/>网络登录</legend>
<!--     <select name="ids" id="ids" ng-change="changeAccount()">
        <option ng-repeat="id in accounts.ids" ng-selected="$index == accounts.current">{{id.username}}</option>
    </select> -->
    <label for="accounts">请选择帐号
    
        <a href="#/add" title="添加帐号" class="pull-right"><i class="icon-plus "></i></a>
        <a title="删除当前帐号" class="pull-right" ng-click="open()"><i class="icon-minus"></i></a>

    </label>
    <div ng-class="{hide:!openDiv, fade:true, in:openDiv }" id="del-confirm" style="margin:1em 0 ;text-align:right;" >
        <hr>
        确定删除当前帐号吗?
        <button class="btn btn-danger" ng-click="delete()">确定</button>
        <button class="btn btn-success" ng-click="open()">取消</button>
        <hr>
    </div>

    <select name="accounts" id="accounts" class="input-block-level" ng-model="accounts.current" ng-options="accounts.ids.indexOf(id) as id.username for id in accounts.ids"></select>


    <div class="alert" id="msg_div" style="">
        <span id="msg"><span style="color:red">{{ message | messageFilter }}</span></span>
    </div>

    <div class="form-actions" style="margin-left: -10px;width: 100%;bottom: 0;position: fixed;padding-left: 20px;margin-bottom: 0;">
        <div class="btn-group">
            <button type="" class="btn btn-primary" id="loginbtn" ng-click="login()">登录</button>

        </div>
        <div class="btn-group">
            <button type="" class="btn" id="logoutbtn" ng-click="logout()">注销</button>
            <a class="btn" href="http://10.0.0.55:8800/index.php" target="_blank">自服务</a>
            <a class="btn" href="#/detail">查看详情</a>
        </div>
    </div>
</form>

